#features {
    background: #f4f4f4;
    padding: 49px 0 25px 0;
}
.container {
    margin: 0 auto;
}
.features-numbers__block {
    display: inline-block;
    width: 33%;
    min-height: calc(var(--base-size-xl) * 5 + 10px); /*90px;*/
    text-align: center;
    vertical-align: top;
}
.features-number__topic {
    margin-bottom: calc(var(--base-size-s) + 1px); /*5px;*/
    font-size: 36px;
    font-weight: 900;
    color: #f39003;
}
.features-mark {
    font-size: 18px;
    font-weight: 900;
}
.features-number__description {
    font-size: 16px;
    line-height: calc(var(--base-size-xl) + 4px); /*20px;*/
    font-weight: 400;
    color: var(--main-text-color); 
}
.features-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: calc(var(--base-size-xl) * 2 + 5px); /*37px;*/

}
.features-card__slip {
    width: calc(var(--base-size-xl) * 21 + 4px); /*350px;*/
    height: calc(var(--base-size-xl) * 8 + 4px); /*132px;*/
    padding: 28px 19px 28px 13px;
    background-color: var(--main-bgcolor);
    box-sizing: border-box;
    margin-bottom: calc(var(--base-size-xl) * 2 - 2px); /*30px;*/
    transition-timing-function: linear;
    transition-duration: .3s;
}
.features-card__slip:hover {
    box-shadow: 1px 1px 3px #a4a0a0;
    transform: translateY(-5px);
    transition-timing-function: linear;
    transition-duration: .3s;
}
.features-img__left {
    margin-top: calc(var(--base-size-s) + 5px); /*6px;*/
    margin-right: calc(var(--base-size-l) - 1px); /*11px;*/
    float: left;
    clear: both;
}
.features-item {
    font-size: 15px;
    margin-bottom: calc(var(--base-size-s) - 2px); /*2px;*/
    font-weight: 700;
    color: var(--main-text-color);
}
.features-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--main-text-color);
}