footer {
    background-color: #1b1b1b;
    height: calc(var(--base-size-xl) * 5 + 16px); /*93px;*/
    margin: 0;
    padding: 0;
}
.footer-text {
    padding: calc(var(--base-size-xl) * 2 + 7px) 0; /*39px 0;*/
    text-align: center;
    opacity: 0.5;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: var(--main-title-text-color); 
}